#room-selection-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;

  padding: 40px;
  border: 1px solid #225c09;
  border-radius: 5px;
  background-color: #48be11;
  box-shadow: 0 0 10px rgba(77, 117, 39, 0.1);

  & > h1 {
    margin: 0;
    margin-bottom: 16px;
  }

  & > .form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    & > .submit {
      justify-content: center;
    }
  }
}
